main.ed--main
    //- code example
    h1.bold !{title}
    img(src=`${assetPath}`+'testImg.jpg')
    .bg(style='background-image:url('+`${assetPath}`+'testImg.jpg);')
    .feed(data-feedurl=`${feedPath}`+'/shopping/women/trainers-1/items.aspx?format=json')
